/* default colors */
:root {
  --color-dark-purple: #100a27;
  --color-white: #ffffff;
}

/* overwrites */
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* default links */
a {
  text-decoration: none;
  color: var(--color-white);
}

/* default body styles */
body {
  overflow-x: hidden;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

/* default ul styles */
ul {
  list-style: none;
}
